<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Interpolation Example</h1>
    <app-project></app-project>
    <br>
    Name : {{name}}
    <br>
    age : {{age}}<br>
    Email : <input type="email" value="{{email}}">
    <br><br>
    <h1>Property Binding Example</h1>
    Name : <input type="text" [value]="name"/><br>
    Age : <input type="text" [value]="age"/><br>
    Email : <input type="email" [value]="email"/>
    <br>
    <h1>Event Binding Example</h1>
    <button (click)="changeName()">Change</button>
    <!-- <button (click)="changeage()">Change Age<button> -->
    <button (click)="changeemail()">Change Email</button><br>
    <img src="download.png" alt="">
</body>
</html>